{% extends 'admin/master.html' %}
{% import 'admin/lib.html' as lib with context %}
{% from "formhelpers.html" import render_field %}

{% block head_css %}
{{ super() }}
<link href="/static/css/upload.css" rel="stylesheet">
{% endblock %}

{% block body %}

{% block header %}<h2>{{ header_text }}</h2>{% endblock %}

<div class="container main-container">
    <div class="row">
        <section>
            <div class="upload-wizard">
                <div class="upload-wizard-inner">
                    <div class="connecting-line"></div>
                    <ul class="nav nav-tabs" role="tablist">

                        <li role="presentation" class="active">
                            <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Step 1">
                            <span class="round-tab">
                                <i class="glyphicon glyphicon-font"></i>
                            </span>
                            </a>
                        </li>

                        <li role="presentation" class="disabled">
                            <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="Step 2">
                            <span class="round-tab">
                                <i class="glyphicon glyphicon-upload"></i>
                            </span>
                            </a>
                        </li>
                        <li role="presentation" class="disabled">
                            <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab" title="Step 3">
                            <span class="round-tab">
                                <i class="glyphicon glyphicon-upload"></i>
                            </span>
                            </a>
                        </li>

                        <li role="presentation" class="disabled">
                            <a href="#complete" data-toggle="tab" aria-controls="complete" role="tab" title="Complete">
                            <span class="round-tab">
                                <i class="glyphicon glyphicon-ok"></i>
                            </span>
                            </a>
                        </li>
                    </ul>
                </div>

                <form action="" method="POST" role="form" class="admin-form form-horizontal"
                      enctype="multipart/form-data">

                    <div class="tab-content">
                        <div class="tab-pane active" role="tabpanel" id="step1">
                            <h3>Welcome to the upload wizard</h3>
                            <hr>
                            {{ render_field(form.name, placeholder='Nice dataset name', required="required") }}
                            <hr>

                            <ul class="list-inline pull-right">
                                <li>
                                    <button type="button" class="btn btn-primary next-step">Continue</button>
                                </li>
                            </ul>
                        </div>
                        <!-- ##### -->
                        <div class="tab-pane" role="tabpanel" id="step2">
                            <h3>
                                Movement File
                                <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#movementModal">
                                    Info
                                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                                </button>
                            </h3>
                            <hr>


                            <!--Movement input field, drag and drop area-->
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="drop">
                                        {{ form.movement }}
                                        <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
                                        <p id="movement-drop-text">Drag your file here or click in this area.</p>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div>
                                        <div class="alert alert-warning" id="movement-is-csv" role="alert">
                                            CSV file and not empty
                                        </div>
                                        <div class="alert alert-warning" id="movement-correct-fields" role="alert">
                                            Correct CSV header
                                        </div>
                                        <div class="alert alert-warning" id="movement-file-correct" role="alert">
                                            Correct CSV values
                                        </div>
                                        <div class="alert alert-warning" id="movement-primary-key" role="alert">
                                            No duplicate entries
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <ul class="list-inline pull-right">
                                <li>
                                    <button type="button" class="btn btn-default prev-step">Previous</button>
                                </li>
                                <li>
                                    <button type="button" class="btn btn-primary next-step">Continue</button>
                                </li>
                            </ul>
                        </div>

                        <!-- ##### -->
                        <div class="tab-pane" role="tabpanel" id="step3">
                            <h3>
                                Reference File for Animals (optional)
                                <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#metaModal">
                                    Info
                                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                                </button>
                            </h3>
                            <hr>

                            <div class="row">
                                <div class="col-md-5">
                                    <div class="drop">
                                        {{ form.metadata }}
                                        <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
                                        <p id="metadata-drop-text">Drag your file here or click in this area.</p>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div>
                                        <div class="alert alert-warning" id="metadata-is-csv" role="alert">
                                            CSV file and not empty
                                        </div>
                                        <div class="alert alert-warning" id="metadata-correct-fields" role="alert">
                                            Correct CSV header
                                        </div>
                                        <div class="alert alert-warning" id="metadata-file-correct" role="alert">
                                            Correct CSV values
                                        </div>
                                        <div class="alert alert-warning" id="metadata-primary-key" role="alert">
                                            No duplicate entries
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <ul class="list-inline pull-right">
                                <li>
                                    <button type="button" class="btn btn-default prev-step">Previous</button>
                                </li>
                                <li>
                                    <button type="button" class="btn btn-default next-step">Skip</button>
                                </li>
                                <li>
                                    <button type="button" class="btn btn-primary btn-info-full next-step">
                                        Continue
                                    </button>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-pane" role="tabpanel" id="complete">
                            <h3>
                                Environment definitions
                                <button class="btn btn-primary btn-sm" data-toggle="modal"
                                        data-target="#environmenttModal">
                                    Info
                                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                                </button>
                            </h3>
                            <hr>
                            <div class="row">
                                <div class="col-md-3">
                                    <strong>Origin</strong>
                                    <br>
                                    {{ render_field(form.origin_x, placeholder='0.0', required="required") }}
                                    {{ render_field(form.origin_y, placeholder='0.0', required="required")}}
                                </div>
                                <div class="col-md-3">
                                    <strong>Min</strong>
                                    <br>
                                    {{ render_field(form.min_x, placeholder='0.0', required="required") }}
                                    {{ render_field(form.min_y, placeholder='0.0', required="required")}}
                                </div>
                                <div class="col-md-3">
                                    <strong>Max</strong>
                                    <br>
                                    {{ render_field(form.max_x, placeholder='0.0', required="required")}}
                                    {{ render_field(form.max_y, placeholder='0.0', required="required")}}
                                </div>
                                <div class="col-md-3">
                                    <strong>Invert Coordinate System</strong>
                                    <br>
                                    {{ render_field(form.inverted_x) }}
                                    {{ render_field(form.inverted_y) }}
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    {{ render_field(form.fps, required="required") }}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    {{ render_field(form.background_image) }}
                                </div>
                            </div>

                            <hr>
                            {{form.hidden_tag()}}
                            <div class="form-group pull-right">
                                <div class="submit-row">
                                    {{render_field(form.submit, class="btn btn-primary btn-lg", value="Upload" )}}
                                </div>
                                <button class="btn btn-default btn-lg pull-right hidden" id="submit-button">
                                    Uploading ...
                                    <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
                                </button>
                            </div>

                        </div>
                        <div class="clearfix"></div>
                    </div>
                </form>
            </div>
        </section>
    </div>
</div>


<!-- Modal - information metadata file  -->
<div class="modal fade" id="movementModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h3 class="modal-title">Supported Movement File Format </h3>
            </div>

            <!-- Modal Body-->
            <div class="modal-body">
                The movement file has to be a CSV file. This upload form checks if the CSV file is in the right
                format and also beforehand if there is missing data or missing columns. The uploaded file extension has
                to be '.csv'.
                <br><br>
                The uploaded file has to have four columns:

                <ul>
                    <li>
                        <strong>
                            Animal_id:
                        </strong>
                        An individual identifier (tag) for the animal.
                    </li>
                    <li>
                        <strong>
                            Time:
                        </strong>
                        The time the animal position was measured. This has to be integer (normally frame number).
                    </li>
                    <li>
                        <strong>
                            X:
                        </strong>
                        The x value in the local coordinate system.
                    </li>
                    <li>
                        <strong>
                            Y:
                        </strong>
                        The y value in the local coordinate system.
                    </li>
                </ul>
                <br><br>

                An example 'test-movement.csv' file could look like this:
                <hr>
                <samp>
                    Animal_id,Time,X,Y <br>
                    0,0,102.5,22 <br>
                    0,1,102.9,23.5 <br>
                    0,2,103,24.124 <br>
                    ... <br>

                </samp>

            </div>
        </div>
    </div>
</div>

<!-- Modal - information movement file  -->
<div class="modal fade" id="metaModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h3 class="modal-title">Supported Reference File Format </h3>
            </div>

            <!-- Modal Body-->
            <div class="modal-body">
                The reference file has to be a CSV file. This upload form checks if the CSV file is in the right
                format and also beforehand if there is missing data or missing columns. The uploaded file extension has
                to be '.csv'.
                <br><br>
                The uploaded file has to have five columns:

                <ul>
                    <li>
                        <strong>
                            Animal_id:
                        </strong>
                        An individual identifier (tag) for the animal.
                    </li>
                    <li>
                        <strong>
                            Species:
                        </strong>
                        The scientific name of the species which was tracked.
                    </li>
                    <li>
                        <strong>
                            Sex:
                        </strong>
                        The sex of the animal.
                    </li>
                    <li>
                        <strong>
                            Size:
                        </strong>
                        The size of the animal.
                    </li>
                    <li>
                        <strong>
                            Weight:
                        </strong>
                        The weight of the animal.
                    </li>
                </ul>
                <br><br>

                An example 'test-refence.csv' file could look like this:
                <hr>
                <samp>
                    animal_id,species,sex,size,weight<br>
                    1,"Stickleback","male","15.8","200"<br>
                    2,"Stickleback","male","14.8","210"<br>
                    3,"Stickleback","female","15.3","205"<br>
                    ...<br>
                </samp>

            </div>
        </div>
    </div>
</div>


<!-- Modal - information environment variables definition -->
<div class="modal fade" id="environmenttModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h3 class="modal-title" id="lineModalLabel">Environment definitions information </h3>
            </div>

            <!-- Modal Body-->
            <div class="modal-body">
                The environment definitions/variables define the local environment, where the data was tracked.
                Min, max values are automatically extracted from a movement file.
                <br><br>
                The environment variables are:

                <ul>
                    <li>
                        <strong>
                            Origin X,Y:
                        </strong>
                        Coordinate system origin - default is (0,0).
                    </li>
                    <li>
                        <strong>
                            Min X,Y:
                        </strong>
                        Minimum values for x and y (automatically extracted).
                    </li>
                    <li>
                        <strong>
                            Max X,Y:
                        </strong>
                        Maximum values for x and y (automatically extracted).

                    </li>
                    <li>
                        <strong>
                            Inverted coordinate system:
                        </strong>
                        Define if the cartesian coordinate system is inverted.
                    </li>
                    <li>
                        <strong>
                            FPS (Frames per second):
                        </strong>
                        Frame rate aka frame frequency. Required to calculate multiple features, e.g. speed per second.
                        This is depending on the video camera. If your time is in seconds, please enter 60 to calculate
                        for instance the speed per minute instead of speed per second.
                    </li>
                </ul>

            </div>

        </div>
    </div>
</div>

{% endblock %}

{% block tail_js %}
{{ super() }}
<script src="{{url_for('static', filename='libs/papaparse.min.js')}}"></script>
<script src="{{url_for('static', filename='js/upload.js')}}"></script>
{% endblock %}