{% extends 'layout.html' %}
{% from "security/_macros.html" import  render_field_with_errors, render_field %}

{% macro render_field_with_errors(field) %}

<div class="form-group">
    {{ field.label }} {{ field(class_='form-control', **kwargs)|safe }}
    {% if field.errors %}
    <ul>
        {% for error in field.errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
{% endmacro %}

{% block body %}
{% include "security/_messages.html" %}

{{ super() }}
<div class="row-fluid">
    <div class="col-sm-8 offset-sm-2">
        <h1>Login</h1>
        <div class="well">
            <form action="{{ url_for_security('login') }}" method="POST" name="login_user_form">
                {{ login_user_form.hidden_tag() }}
                {{ render_field_with_errors(login_user_form.email) }}
                {{ render_field_with_errors(login_user_form.password) }}
                {{ render_field_with_errors(login_user_form.remember) }}
                <!--{{ render_field_with_errors(login_user_form.next)}}-->
                {{ render_field(login_user_form.submit, class="btn btn-primary") }}
            </form>
        </div>
    </div>
</div>
{% endblock body %}