/* SVG elements and text */

#main-vis {
    margin-bottom: 10px;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    /* aspect ratio */
    vertical-align: top;
    overflow: visible;
}

.svg-content {
    display: inline-block;
    position: absolute;
    border: 1px solid #000;
}

#main-vis-legend-div {
    display: none;
}

#hierarchy-legend-div {
    display: none;
}

#main-vis-legend {
    float: right;
    display: inline-block;
    position: relative;
    overflow: visible;
    top: 10px;
    left: 10px;
}

#hierarchy-legend {
    float: left;
    display: inline-block;
    position: relative;
    overflow: visible;
    top: 10px;
    left: 10px;
}

.svg-content-dendrogram {
    display: inline-block;
    border: 1px solid #000;
}

.svg-line-chart-container {
    display: inline-block;
    position: relative;
    width: 100%;
    height: auto;
    /* depends on svg ratio */
    padding-bottom: 17%;
    /* aspect ratio */
    vertical-align: top;
    overflow: visible;
}

.svg-dendrogram-container {
    display: inline-block;
    position: relative;
    height: auto;
    vertical-align: top;
    overflow: visible;
}

.axis path {
    display: none;
}

.axis line {
    stroke-opacity: 0.3;
    shape-rendering: crispEdges;
}

.x {
    font-size: 1em;
}

.y {
    font-size: 1em;
}

.axis-line-chart path line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.line {
    fill: none;
    stroke-width: 5px;
}

/* Time  */

.frame-text {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2em;
    color: inherit;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
}

/* Slider ticks  */

.ui-slider-tick {
    display: inline-block;
    width: 3px;
    background: #337ab7;
    height: 0.8em;
    position: absolute;
}

/* Laoding gif   */

#loading {
    display: block;
    text-align: center;
}

/* Color legend    */

.legend {
    font-size: 12px;
    stroke: #000;
}

.legend-text {
    font-size: 1.2em;
    color: inherit;
    font-family: inherit;
    line-height: 1.1;
}

.line-chart-legend-text {
    font-size: 2em;
    color: inherit;
    font-family: inherit;
    line-height: 1.1;
}

.time-line {
    fill: none;
    stroke-width: 5px;
    stroke: #000;
}

/*swarm features */

.centroid {
    fill-opacity: 0;
    stroke: #e7298a;
    stroke-width: 3px;
}

.medoid {
    fill: #e7298a !important;
    stroke: #e7298a !important;
}

.hull-path {
    fill: #fff;
    fill-opacity: 0;
    stroke-width: 3;
    stroke: #252525;
    stroke-opacity: 0.5;
}

.hierarchy-group {
    stroke-width: 10;
    stroke-linejoin: round;
    opacity: 0.2;
}

.delaunay-triangulation {
    fill-opacity: 0;
    stroke-width: 2;
    stroke: #000;
    stroke-opacity: 0.4;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }
    to {
        transform: scale(1) rotate(360deg);
    }
}

#background-color span.glyphicon {
    opacity: 0;
}

#background-color .btn {
    border-color: #bdbdbd;
}

#background-color .active span.glyphicon {
    opacity: 1;
}

#btn-grey1 {
    background: #d9d9d9;
}

#btn-grey2 {
    background: #969696;
}

#btn-dark {
    background: #4d4d4d;
}

/* Color brewer picker div */

.palette {
    cursor: pointer;
    display: table;
    vertical-align: bottom;
    margin: 4px 0 4px 4px;
    background: #fff;
    border: solid 1px #aaa;
}

.swatch {
    display: inline-block;
    vertical-align: middle;
    width: 22px;
    height: 22px;
}

.voronoi {
    fill-opacity: 0;
    stroke-width: 3;
    stroke: #000;
    stroke-opacity: 0.2;
}

/* Tooltip */

div.tooltip {
    pointer-events: none;
    opacity: 0;
    background: rgb(255, 255, 255) !important;
    border-left-color: #1b809e !important;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
    position: absolute;
}

div.tooltip table td:nth-child(2) {
    text-align: center;
    font-weight: bold;
}

.tooltip-span {
    display: block;
    width: 150px;
    word-wrap: break-word;
    font-size: 1.5em;
}

.line-chart-check-box.disabled {
    color: #ccc;
}

.upper-outer-area, .lower-outer-area {
    stroke-width: 1;
    fill: #74a9cf;
    stroke: #3690c0;
}

.upper-inner-area, .lower-inner-area {
    stroke-width: 1;
    fill: #045a8d;
    stroke: #023858;
}

.median-line {
    fill: none;
    stroke: #525252;
    stroke-width: 5;
}

.selected {
    background: #999;
    border: 4px solid #4d4d4d;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .4);
}

.zoom {
    fill: none;
    pointer-events: all;
}

.x.axis-line-chart>g>text {
    font-size: 3em;
    color: inherit;
    font-family: inherit;
    line-height: 1.1;
}

.arrow {
    stroke-width: 1;
}

#centroid-line {
    stroke-width: 1;
    stroke: #e7298a;
}

#centroid-arrow {
    fill: #e7298a;
}

.metadata-swatch {
    width: 30px;
    height: 30px;
    border-radius: 3px;
    border: 2px solid #666;
}

.metadata-swatch-clickable:hover {
    border: 2px solid #000;
    cursor: pointer;
}

.dropdown-menu {
    min-width: 40px;
    padding: 5px;
}

.metadata-legend {
    list-style: none;
    margin-top: 10px;
}

.metadata-legend li {
    float: left;
    margin-right: 10px;
}

.metadata-legend span {
    border: 2px solid #666;
    float: left;
    width: 30px;
    height: 30px;
}

.metadata-legend .bl-avg {
    background-color: #7fc97f;
}

.metadata-legend .avg {
    background-color: #fdc086;
}

.metadata-legend .ab-avg {
    background-color: #386cb0;
}

.network-edges {
    fill-opacity: 0;
    stroke-width: 2;
}

.network-background-edges {
    fill-opacity: 0;
    stroke-opacity: 0.25;
    stroke: #737373;
}

.node text {
    font: 12px sans-serif;
}

.node--internal text {
    text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}

.link {
    fill: none;
    stroke: #636363;
    stroke-width: 5px;
}

.custom-checkbox {
    min-height: 1rem;
    padding-left: 0;
    margin-right: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-indicator {
    content: "";
    display: inline-block;
    position: relative;
    width: 30px;
    height: 10px;
    background-color: #818181;
    border-radius: 15px;
    margin-right: 10px;
    -webkit-transition: background .3s ease;
    transition: background .3s ease;
    vertical-align: middle;
    margin: 0 16px;
    box-shadow: none;
}

.custom-checkbox .custom-control-indicator:after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: #f1f1f1;
    border-radius: 21px;
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4);
    left: -2px;
    top: -4px;
    -webkit-transition: left .3s ease, background .3s ease, box-shadow .1s ease;
    transition: left .3s ease, background .3s ease, box-shadow .1s ease;
}

.custom-checkbox .custom-control-input:checked~.custom-control-indicator {
    background-color: #84c7c1;
    background-image: none;
    box-shadow: none !important;
}

.custom-checkbox .custom-control-input:checked~.custom-control-indicator:after {
    background-color: #84c7c1;
    left: 15px;
}

.custom-checkbox .custom-control-input:focus~.custom-control-indicator {
    box-shadow: none !important;
}

#active-network-name {
    font-weight: bold;
    color: #296292;
}

.active-level {
    fill: #386cb0;
}

#dendrogram-panel {
    position: initial;
}

#dendrogram-panel {
    display: none
}

.show-dendrogram {
    float: right;
    border-radius: 3px;
    border: 1px solid #D1D3D4;
    font-weight: normal;
}

.show-dendrogram:hover {
    background: #D1D3D4;
}

.dendrogram-text {
    font-size: 10em !important;
}

.highlight-hierarchy {
    fill: #252525;
    stroke: #252525;
    stroke-width: 10;
    stroke-linejoin: round;
    opacity: 0.3;
}

.animal-highlight {
    fill: #c51b7d !important;
}

#dendrogram-buttons-div .btn span.glyphicon {
    opacity: 0;
}

#dendrogram-buttons-div .btn.active span.glyphicon {
    opacity: 1;
}

#dendrogram-buttons-div {
    border: 2px solid #D1D3D4;
    border-radius: 5px;
}

#dendrogram-legend {
    margin-left: 20px;
}

.intersection {
    fill: url(#striped) !important;
    stroke: #67000d;
}

.sym-difference {
    fill: url(#striped) !important;
    stroke: #67000d;
}

.modal-lg {
    max-width: 80%;
}

/* Icons for bootstrap 4 */

.mdi::before {
    font-size: 24px;
    line-height: 14px;
}

.btn .mdi::before {
    position: relative;
    top: 4px;
}

.btn-xs .mdi::before {
    font-size: 18px;
    top: 3px;
}

.btn-sm .mdi::before {
    font-size: 18px;
    top: 3px;
}

.dropdown-menu .mdi {
    width: 18px;
}

.dropdown-menu .mdi::before {
    position: relative;
    top: 4px;
    left: -8px;
}

.nav .mdi::before {
    position: relative;
    top: 4px;
}

.navbar .navbar-toggle .mdi::before {
    position: relative;
    top: 4px;
    color: #FFF;
}

.breadcrumb .mdi::before {
    position: relative;
    top: 4px;
}

.breadcrumb a:hover {
    text-decoration: none;
}

.breadcrumb a:hover span {
    text-decoration: underline;
}

.alert .mdi::before {
    position: relative;
    top: 4px;
    margin-right: 2px;
}

.input-group-addon .mdi::before {
    position: relative;
    top: 3px;
}

.navbar-brand .mdi::before {
    position: relative;
    top: 2px;
    margin-right: 2px;
}

.list-group-item .mdi::before {
    position: relative;
    top: 3px;
    left: -3px
}