/* Features checkbox and radio buttons */

.feature-check-box div {
    clear: both;
    overflow: hidden;
}

.feature-check-box label {
    width: 100%;
    border-radius: 3px;
    border: 1px solid #D1D3D4;
    font-weight: normal;
}

.feature-check-box input[type="radio"]:empty, .feature-check-box input[type="checkbox"]:empty {
    display: none;
}

.feature-check-box input[type="radio"]:empty~label, .feature-check-box input[type="checkbox"]:empty~label {
    position: relative;
    line-height: 2.5em;
    text-indent: 3em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.feature-check-box input[type="radio"]:empty~label:before, .feature-check-box input[type="checkbox"]:empty~label:before {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    content: '';
    width: 2.5em;
    background: #D1D3D4;
    border-radius: 3px 0 0 3px;
}

.feature-check-box input[type="radio"]:hover:not(:checked)~label, .feature-check-box input[type="checkbox"]:hover:not(:checked)~label {
    color: #888;
}

.feature-check-box input[type="radio"]:hover:not(:checked)~label:before, .feature-check-box input[type="checkbox"]:hover:not(:checked)~label:before {
    content: '\2714';
    text-indent: .9em;
    color: #C2C2C2;
}

.feature-check-box input[type="radio"]:checked~label, .feature-check-box input[type="checkbox"]:checked~label {
    color: #777;
}

.feature-check-box input[type="radio"]:checked~label:before, .feature-check-box input[type="checkbox"]:checked~label:before {
    content: '\2714';
    text-indent: .9em;
    color: #333;
    background-color: #ccc;
}

.feature-check-box input[type="radio"]:focus~label:before, .feature-check-box input[type="checkbox"]:focus~label:before {
    box-shadow: 0 0 0 3px #999;
}

.feature-check-box-default input[type="radio"]:checked~label:before, .feature-check-box-default input[type="checkbox"]:checked~label:before {
    color: #333;
    background-color: #ccc;
}

/* SVG elements and text */

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    /* aspect ratio */
    vertical-align: top;
    overflow: visible;
}

.svg-content {
    display: inline-block;
    position: absolute;
    border: 1px solid #000;
}

.svg-content-legend {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 10px;
}

.svg-legendContainer {
    display: inline-block;
    position: relative;
    width: 100%;
    height: auto;
    /* depends on svg ratio */
    padding-bottom: 10%;
    /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}

.svg-LineChartContainer {
    display: inline-block;
    position: relative;
    width: 100%;
    height: auto;
    /* depends on svg ratio */
    padding-bottom: 17%;
    /* aspect ratio */
    vertical-align: top;
    overflow: visible;
}

.svg-dendrogramContainer {
    display: inline-block;
    position: relative;
    height: auto;
    vertical-align: top;
    overflow: visible;
}

#dendrogram-vis>svg:nth-child(1) {
    z-index: 1;
    background: white;
}

#dendrogram-vis {
    display: none
}

.axis path {
    display: none;
}

.axis line {
    stroke-opacity: 0.3;
    shape-rendering: crispEdges;
}

.x {
    font-size: 1em;
}

.y {
    font-size: 1em;
}

.axisLineChart path line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.line {
    fill: none;
    stroke-width: 5px;
}

/* Time  */

.frameText {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2em;
    color: inherit;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
}

/* Slider ticks  */

.ui-slider-tick {
    display: inline-block;
    width: 3px;
    background: #337ab7;
    height: 0.8em;
    position: absolute;
}

/* Laoding gif   */

#loading {
    display: block;
    text-align: center;
}

/* Color legend    */

.legend {
    font-size: 12px;
    stroke: #000;
}

.legendText {
    font-size: 1.5em;
    color: inherit;
    font-family: inherit;
    line-height: 1.1;
}

.lineChartlegendText {
    font-size: 2em;
    color: inherit;
    font-family: inherit;
    line-height: 1.1;
}

.timeLine {
    fill: none;
    stroke-width: 5px;
    stroke: #000;
}

/*swarm features */

.centroid {
    fill-opacity: 0;
    stroke: #e7298a;
    stroke-width: 3px;
}

.medoid {
    fill: #e7298a !important;
    stroke: #e7298a !important;
}

.hullPath {
    fill: #fff;
    fill-opacity: 0;
    stroke-width: 3;
    stroke: #252525;
    stroke-opacity: 0.5;
}

.delaunayTriangulation {
    fill-opacity: 0;
    stroke-width: 2;
    stroke: #000;
    stroke-opacity: 0.4;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }
    to {
        transform: scale(1) rotate(360deg);
    }
}

#background-color span.glyphicon {
    opacity: 0;
}

#background-color .btn {
    border-color: #bdbdbd;
}

#background-color .active span.glyphicon {
    opacity: 1;
}

#btn-grey1 {
    background: #d9d9d9;
}

#btn-grey2 {
    background: #969696;
}

#btn-dark {
    background: #4d4d4d;
}

/* Color brewer picker div */

.palette {
    cursor: pointer;
    display: table;
    vertical-align: bottom;
    margin: 4px 0 4px 4px;
    background: #fff;
    border: solid 1px #aaa;
}

.swatch {
    display: inline-block;
    vertical-align: middle;
    width: 22px;
    height: 22px;
}

.voronoi {
    fill-opacity: 0;
    stroke-width: 3;
    stroke: #000;
    stroke-opacity: 0.2;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 13px 13px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
}

/* Tooltip */

div.tooltip {
    pointer-events: none;
    opacity: 0;
    background: rgb(255, 255, 255) !important;
    border-left-color: #1b809e !important;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
    position: absolute;
}

div.tooltip table td:nth-child(2) {
    text-align: center;
    font-weight: bold;
}

.lineChartCheckBox.disabled {
    color: #ccc;
}

.upperOuterArea, .lowerOuterArea {
    stroke-width: 1;
    fill: #74a9cf;
    stroke: #3690c0;
}

.upperInnerArea, .lowerInnerArea {
    stroke-width: 1;
    fill: #045a8d;
    stroke: #023858;
}

.medianLine {
    fill: none;
    stroke: #525252;
    stroke-width: 5;
}

.selected {
    background: #999;
    border: 4px solid #4d4d4d;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .4);
}

.zoom {
    fill: none;
    pointer-events: all;
}

.x.axisLineChart>g>text {
    font-size: 3em;
    color: inherit;
    font-family: inherit;
    line-height: 1.1;
}

.arrow {
    stroke-width: 1;
}

#centroid-line {
    stroke-width: 1;
    stroke: #e7298a;
}

#centroid-arrow {
    fill: #e7298a;
}

.mod-list {
    margin-top: -5px;
    margin-right: -10px;
    margin-left: -10px;
}

.mod-list .mod-head {
    color: white;
    border-bottom: thick solid rgba(0, 0, 0, 0.2);
    border-radius: 5px 5px 0 0;
}

.mod-list .mod-head span {
    color: white;
    font-size: 3em;
    padding: 15px;
    border: thick solid white;
    border-radius: 50%;
    margin-top: -60px;
    background-color: #286090;
}

.mod-list .mod-head h2 {
    margin-top: 7px;
    margin-bottom: 5px;
    font-size: 2em;
    font-weight: 700;
}

.mod-list .t2 .mod-head {
    background-color: #337ab7;
}

.mod-list .close {
    font-size: 40px;
}

.modal-header {
    border-bottom: 0px solid #e5e5e5;
}

.metadata-swatch {
    width: 30px;
    height: 30px;
    border-radius: 3px;
    border: 2px solid #666;
}

.metadata-swatch-clickable:hover {
    border: 2px solid #000;
    cursor: pointer;
}

.dropdown-menu {
    min-width: 40px;
    padding: 5px;
}

#metadata-input {
    margin-top: 10px;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border: 2px solid #000000;
}

.metadata-legend {
    list-style: none;
    margin-top: 10px;
}

.metadata-legend li {
    float: left;
    margin-right: 10px;
}

.metadata-legend span {
    border: 2px solid #666;
    float: left;
    width: 30px;
    height: 30px;
}

.metadata-legend .bl-avg {
    background-color: #7fc97f;
}

.metadata-legend .avg {
    background-color: #fdc086;
}

.metadata-legend .ab-avg {
    background-color: #386cb0;
}

.networkEdges {
    fill-opacity: 0;
    stroke-width: 2;
}

.node text {
    font: 12px sans-serif;
}

.node--internal text {
    text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}

.link {
    fill: none;
    stroke: #636363;
    stroke-width: 5px;
}