{% extends "layout.html" %}

{% block head_css %}
{{ super() }}
<link href="{{url_for('static', filename='index.css')}}" rel="stylesheet">
{% endblock %}


{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="bg-overlay">

                <div class="bg-overlay-front">
                    <h1>
                        Collective Movement Exploration
                    </h1>
                    <h4>
                        Explore and Analyse Collective Animal Behaviour
                    </h4>
                    <a class="btn btn-primary btn-lg" href="/admin/">Get Started</a>
                </div>

            </div>

            <br>
            <h2 class="text-center">How does it work?</h2>
            <hr>

            <div class="row align-items-center how-it-works d-flex">
                <div class="col-2 text-center bottom d-inline-flex justify-content-center align-items-center">
                    <div class="circle font-weight-bold">1</div>
                </div>
                <div class="col-8">
                    <h4>Upload Your Datasets</h4>
                    <p> Upload your animal movement dataset</p>
                </div>
            </div>

            <div class="row timeline">
                <div class="col-2">
                    <div class="corner top-right"></div>
                </div>
                <div class="col-8">
                    <hr/>
                </div>
                <div class="col-2">
                    <div class="corner left-bottom"></div>
                </div>
            </div>

            <div class="row align-items-center justify-content-end how-it-works d-flex">
                <div class="col-8 text-right">
                    <h4>Feature Extraction Process</h4>
                    <p>From your dataset various features are extracted and calculated (e.g speed,
                        triangulation,...)</p>
                </div>
                <div class="col-2 text-center full d-inline-flex justify-content-center align-items-center">
                    <div class="circle font-weight-bold">2</div>
                </div>
            </div>

            <div class="row timeline">
                <div class="col-2">
                    <div class="corner right-bottom"></div>
                </div>
                <div class="col-8">
                    <hr/>
                </div>
                <div class="col-2">
                    <div class="corner top-left"></div>
                </div>
            </div>

            <div class="row align-items-center how-it-works d-flex">
                <div class="col-2 text-center top d-inline-flex justify-content-center align-items-center">
                    <div class="col-2 text-center bottom d-inline-flex justify-content-center align-items-center">
                        <div class="circle font-weight-bold">3</div>
                    </div>
                </div>

                <div class="col-8">
                    <h4>Explore Your Datasets</h4>
                    <p>Visually explore and analyze collective animal behaviour in multiple views.</p>
                </div>
            </div>

            <div class="row timeline">
                <div class="col-2">
                    <div class="corner top-right"></div>
                </div>
                <div class="col-8">
                    <hr/>
                </div>
                <div class="col-2">
                    <div class="corner left-bottom"></div>
                </div>
            </div>

            <div class="row align-items-center justify-content-end how-it-works d-flex">
                <div class="col-8 text-right">
                    <h4>Export</h4>
                    <p>Download your dataset with the extracted features in .csv format for further analysis</p>
                </div>
                <div class="col-2 text-center full d-inline-flex justify-content-center align-items-center">
                    <div class="circle font-weight-bold">4</div>
                </div>
            </div>

            <div class="row timeline">
                <div class="col-2">
                    <div class="corner right-bottom"></div>
                </div>
                <div class="col-8">
                    <hr/>
                </div>
                <div class="col-2">
                    <div class="corner top-left"></div>
                </div>
            </div>

            <div class="row align-items-center how-it-works d-flex">
                <div class="col-2 text-center top d-inline-flex justify-content-center align-items-center">
                    <div class="circle font-weight-bold">5</div>
                </div>
                <div class="col-8">
                    <h4>Hypotheses & Knowledge Generation</h4>
                    <p>Generate new hypotheses and knowledge from different visualizations and extracted features.</p>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>

{% endblock body %}
