{% extends "layout.html" %}

{% block head_css %}
{{ super() }}
<link href="{{url_for('static', filename='css/index.css')}}" rel="stylesheet">
{% endblock %}


{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="bg-overlay">
                <div class="row text-center">
                    <h1>
                        Collective Movement Exploration
                    </h1>
                    <h4>
                        Explore and Analyse Collective Animal Behaviour
                    </h4>
                    <br><br>
                    <a class="btn btn-primary btn-lg" href="/admin/">Get Started</a>
                </div>
            </div>
            <hr>
            <h2 class="text-center">How does it work?</h2>
            <ul class="timeline">
                <li>
                    <div class="timeline-image">
                        <img class="img-circle img-responsive" src="/static/img/csv_upload.png" alt="">
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4>Step One</h4>
                            <h4 class="subheading">Upload</h4>
                        </div>
                        <div class="timeline-body col-md-offset-6">
                            <p class="text-justify">
                                To upload your dataset you have to be registered.
                                Prepare your files in the supported CSV file format.
                                Upload your own animal movement dataset.
                            </p>
                        </div>
                    </div>
                    <div class="line"></div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-image">
                        <img class="img-circle img-responsive" src="/static/img/feature_extraction.png" alt="">
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4>Step Two</h4>
                            <h4 class="subheading">Feature Extraction
                            </h4>
                        </div>
                       <div class="timeline-body">
                            <p class="text-justify" style="width:50%">
                                From your dataset various features are extracted and calculated.
                                For instance speed of each animal, convex hull of the animal group
                                or the triangulation of the swarm.
                                This step takes some time.
                            </p>
                        </div>
                    </div>
                    <div class="line"></div>
                </li>
                <li>
                    <div class="timeline-image">
                        <img class="img-circle img-responsive" src="/static/img/explore.gif" alt="">
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4>Step Three</h4>
                            <h4 class="subheading">
                                Explore
                            </h4>
                        </div>
                        <div class="timeline-body col-md-offset-6">
                            <p class="text-justify">
                                Visualize the movement dataset and the extracted features in multiple views.
                                Easily explore the collective animal behaviour.
                            </p>
                        </div>
                    </div>
                    <div class="line"></div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-image">
                        <img class="img-circle img-responsive" src="/static/img/export.png" alt="">
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4>Step Four</h4>
                            <h4 class="subheading">Export</h4>
                        </div>
                         <div class="timeline-body">
                            <p class="text-justify" style="width:50%">
                               Download your dataset with the extracted features in .csv format for further analysis.
                            </p>
                        </div>
                    </div>
                    <div class="line"></div>
                </li>
                <li>
                    <div class="timeline-image">
                        <img class="img-circle img-responsive" src="/static/img/think.png" alt="">
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4>Last Step</h4>
                            <h4 class="subheading">Hypotheses & Knowledge</h4>
                        </div>
                        <div class="timeline-body col-md-offset-6">
                            <p class="text-justify">
                                Generate new hypotheses and knowledge from different visualizations and extracted features.
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <br>
</div>

{% endblock body %}
